<h1>Bem-vindo ao Task List</h1>
<h2>Tarefas cadastradas</h2>

<table border="1" width="300px">
  <tr>
    <th>Tarefa</th>
    <th>Feita?</th>
  </tr>
  <% @tarefas.each do |tarefa| %>
    <tr> <%= tarefa.done %>
      <td><%= tarefa.description %></td>
      <td><%= tarefa.done %></td>
    </tr>
  <% end %>
</table>
<p>
  <a href="tasks/new">Cadastrar uma tarefa</a>
</p>

<!--  Links para exibir a tarefa e o status (tasks#show) -->
